

/* .navigations.nav-link.active:hover {
    color:#017457 !important; 
    transform: scale(1.3);
} */

a {
    font-weight: bold !important;
}

 a.nav-link:hover {
    color:#017457 !important; 
    transform: scale(1.3);
}





/* 
@media only screen and (max-width: 428px) {
    .ms-auto {
      width: 100%;
      gap: 10px;
      text-align: center;
      position: static;
      margin-top: 20px;
      font-size: 1rem;
    }
    
    .navigations.nav-link {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }
    
    .navigations.navbar-brand {
      display: block;
      margin-bottom: 20px;
      text-align: center;
    }
  } */