


.intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url(../../assets/images/hero.jpg) center no-repeat; 
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.intro .overlay {
    background: rgba(0, 0, 0, 0.2);
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}




