

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    
    
/* font-family: 'Roboto', sans-serif; */
}


/* html,body {
    max-width: 1400px;
} */




/* @media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
} */




/* Media query for iPhone 12 */
@media only screen and (max-width: 428px) {
    /* NavbarItem */
    .navigations.nav-link {
      font-size: 0.8rem;
    }
  
    /* HeroItem */
    #intro-example {
      height: 300px; /* Adjust height for smaller devices */
    }

    /* *{
        overflow-x: hidden;
    } */



    .heroContent {
        /* padding-top: 20px !important; */
    }

    .heroContent h1 {
        font-size: 24px !important;
        /* width: 100px !important; */
        /* line-height: -1px; */
        /* overflow-x:auto !important; */
        /* width: 50px !important; */
        /* display: grid; */
        /* grid-template-columns: repeat(3,1fr); */
    }
   

    .heroContent h5 {
        font-size: 20px !important;
        width: 256px !important;
    }

    .heroContent a {
        width: 150px !important;
    }

    .title.testimonial {
        width: 200px !important;
    }

    .logoImg {
        height: 50px !important;
        width: 90px !important;
        /* padding: ; */
    }

    .navbar {
        background-color: rgb(49, 54, 53)!important;

    }

    /* .responsive-navbar-nav {
        background-color: white;
    } */

    .navbar-toggler {
        background-color: white !important;
    }

   
/* to fix the scroll to the right on mobile phones */
    .navbar-toggler,
    .navbar.navbar-expand-lg.navbar-light {
        /* background-color: white !important; */
        overflow-x: hidden;
    }
    

  }



  @media only screen  and (min-width: 429px) and (max-width: 769px) {
    .heroContent h1 {
        font-size: 35px !important;
    }

    .heroContent h5 {
        font-size: 25px !important;
        max-width: 330px;
    }

    .heroContent a {
        width: 200px;
    }

    .navbar-toggler {
        background-color: white !important;
        overflow-x: hidden;
    }

    .navbar.navbar-expand-lg.navbar-light {
        /* background-color: white !important; */
        overflow-x: hidden;
    }

    
  }


  @media only screen and (min-width: 700px) and (max-width: 1200px) {
    .heroContent h1 {
        font-size: 45px !important;
    }

    .heroContent h5 {
        /* font-size: 20px !important; */
        width: 475px !important;
    }

    .navbar-toggler {
        /* background-color: red !important; */
        overflow-x: hidden;
    }
  }


  @media only screen  and (min-width: 531px) and (max-width: 1400px) {
    .title.testimonial {
        /* width: 630px !important; */
        width: 535px !important;
        /* height: 300px !important; */
        padding-left: -200px !important;
    }

      /* *{
        overflow-x: hidden;
    } */


    header.container.row h1,
    header.container.row h5 {
        font-size: smaller !important;
    }

    .logoImg {
        height: 0px;
    }

    .navbar {
        background-color: rgb(94, 92, 92) !important;

    }

    .navbar-toggler {
        background-color: white !important;
    }
    
}


@media only screen and (min-width: 391px) and (max-width: 530px) {
    .title.testimonial {
        /* width: 450px !important; */
        width: 365px !important;
        /* text-align: center; */
        /* height: 300px !important; */
        padding-left: -200px !important;
    }

    .logoImg {
        display: none;
    }

    .navbar-toggler {
        background-color: white !important;
    }

    .navbar-collapse {
        padding-bottom: 80px !important;
    }

   

}


@media only screen and (min-width: 429px) and (max-width: 529px) {
    .navbar.navbar-expand-lg.navbar-light{
        background-color: gray !important;
        /* color: red !important; */
    }
}

  
@media only screen and (max-width: 391px) {


    .title.testimonial {
        width: 300px !important;
        /* overflow: scroll !important; */
    }

    .title.testimonial h1 {
        font-size: 24px !important;
    }

    .contentInside h3 {
        font-size: 17px !important;
        margin-top: 10px !important;
    }

    *{
        /* overflow-x: hidden; */
    }

    /* .navIcon {
        padding-left: 24px !important;
        display: flex;
        /* justify-content: flex-start; */
        /* align-self: center; */
        /* flex-direction: row-reverse; */
    

    /* a.navIcon {
        padding-top: -2rem !important;
    } */ 

    /* .navbar {
        display: flex;
    } */

    .navbar-collapse.collapse.show {

        display: flex;
        flex-direction: row-reverse;
        gap: 4rem;
    }

    .logoImg {
        display: none;
    }


    .navbar-toggler {
        background-color: white !important;
    }
    .footerRow {
        /* padding-left: 100px !important; */
        gap: 60px !important;
    }
}


  @media only screen and (max-width: 390px) {
    body {
        max-width: 390px;
    }

   
  }



  @media only screen and (max-width: 1430px) {
    .timersImg {
        /* width: 200px !important; */
        display: none;
    }

    .timer.container {
        /* margin-left: 4rem !important; */
        /* overflow: hidden; */
        /* max-width: 1000px; */
    }

    .navbar-toggler {
        background-color: white !important;
    }

    .footerRow {
        padding-left: 60px !important;
        gap: 60px !important;
    }
  }